@using WebMatrix.Data;
@{
    ViewBag.Title = "GEN Provider Directory";
    Layout = "~/Views/Shared_Directory/_Layout.cshtml";
}

@{

    var db = Database.Open("gen-provider-dbConnectionString");
    var Org = Request.Form["Org"];
    var Phone = Request.Form["Phone"];
    var Email = Request.Form["Email"];
    var Street = Request.Form["Street"];
    var Fax = Request.Form["Fax"];
    var Facebook = Request.Form["Facebook"];
    var Google = Request.Form["Google"];
    var Youtube = Request.Form["Youtube"];
    var Instagram = Request.Form["Instagram"];
    var Pinterest = Request.Form["Pinterest"];
    var CharityNavigator = Request.Form["CharityNavigator"];
    var Linkedin = Request.Form["Linkedin"];
    var Vimeo = Request.Form["Vimeo"];
    var Guidestar = Request.Form["Guidestar"];
    var Twitter = Request.Form["Twitter"];
    var Services = Request.Form["Services"];
    var Type = Request.Form["Type"];
    var InfoSource = true;
    var Approved = true;



    if (IsPost && Org != null)
    {
        try
        {
            var insertQuery = "INSERT INTO Main_Database_For_Directory (Organization, PhoneNumber, Email, StreetAddress, Fax, Facebook, Google, Youtube, Instagram, Pinterest, CharityNavigator, Linkedin, Vimeo, Guidestar, Twitter, ServicesOffered, TypeOfOrganization, InformationSource, ApprovedForDirectory) " +
                "VALUES (@0, @1, @2, @3, @4, @5, @6, @7, @8, @9, @10, @11, @12, @13, @14, @15, @16, @17, @18)";
            db.Execute(insertQuery, Org, Phone, Email, Street, Fax, Facebook, Google, Youtube, Instagram, Pinterest, CharityNavigator, Linkedin, Vimeo, Guidestar, Twitter, Services, Type, InfoSource, Approved);

            Response.Redirect("~/Directory/Add");
        }
        catch(Exception ex)
        {
            Response.Write("<script>alert('Something went wrong.\\nSome fields may be filled in incorrectly.')</script>");

        }

    }
}


<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="//oss.maxcdn.com/jquery.mask/1.11.4/jquery.mask.min.js"></script>

<style>
    .col-md-12{
        margin-bottom: 5px;
    }
</style>
<div class="jumbotron">
    <h2>Add Providers </h2>
    <p class="lead">Manually add providers.</p>
</div>


@Html.ValidationSummary("Errors with your submission:")

<form method="post" action="">
    <fieldset>
        <div class="row">


            <div class="col-md-12">
                <div class=" col-md-offset-1 col-md-2"><label>Organization:</label></div>
                <div class="col-md-8"><input class="form-control" name="Org" type="text" size="100" value="@Org" /></div>
            </div>
            <div class="col-md-12">
                <div class=" col-md-offset-1 col-md-2"><label>Phone Number:</label></div>
                <div class="col-md-8"><input class="form-control" name="Phone" type="text" size="100" maxlength="15" value="@Phone" /></div>
            </div>
            <div class="col-md-12">
                <div class=" col-md-offset-1 col-md-2"><label>Email:</label></div>
                <div class="col-md-8"><input class="form-control" name="Email" type="text" size="100" value="@Email" /></div>
            </div>
            <div class="col-md-12">
                <div class=" col-md-offset-1 col-md-2"><label>Street Address:</label></div>
                <div class="col-md-8"><input class="form-control" name="Street" type="text" size="100" value="@Street" /></div>
            </div>
            <div class="col-md-12">
                <div class=" col-md-offset-1 col-md-2"><label>Fax:</label></div>
                <div class="col-md-8"><input class="form-control" name="Fax" type="text" size="100" value="@Fax" /></div>
            </div>
            <div class="col-md-12">
                <div class=" col-md-offset-1 col-md-2"><label>Facebook:</label></div>
                <div class="col-md-8"><input class="form-control" name="Facebook" type="text" size="100" value="@Facebook" /></div>
            </div>
            <div class="col-md-12">
                <div class=" col-md-offset-1 col-md-2"><label>Google:</label></div>
                <div class="col-md-8"><input class="form-control" name="Google" type="text" size="100" value="@Google" /></div>
            </div>
            <div class="col-md-12">
                <div class=" col-md-offset-1 col-md-2"><label>Youtube:</label></div>
                <div class="col-md-8"><input class="form-control" name="Youtube" type="text" size="100" value="@Youtube" /></div>
            </div>
            <div class="col-md-12">
                <div class=" col-md-offset-1 col-md-2"><label>Instagram:</label></div>
                <div class="col-md-8"><input class="form-control" name="Instagram" type="text" size="100" value="@Instagram" /></div>
            </div>
            <div class="col-md-12">
                <div class=" col-md-offset-1 col-md-2"><label>Pinterest:</label></div>
                <div class="col-md-8"><input class="form-control" name="Pinterest" type="text" size="100" value="@Pinterest" /></div>
            </div>
            <div class="col-md-12">
                <div class=" col-md-offset-1 col-md-2"><label>Charity Navigator:</label></div>
                <div class="col-md-8"><input class="form-control" name="CharityNavigator" type="text" size="100" value="@CharityNavigator" /></div>
            </div>
            <div class="col-md-12">
                <div class=" col-md-offset-1 col-md-2"><label>Linkedin:</label></div>
                <div class="col-md-8"><input class="form-control" name="Linkedin" type="text" size="100" value="@Linkedin" /></div>
            </div>
            <div class="col-md-12">
                <div class=" col-md-offset-1 col-md-2"><label>Vimeo:</label></div>
                <div class="col-md-8"><input class="form-control" name="Vimeo" type="text" size="100" value="@Vimeo" /></div>
            </div>
            <div class="col-md-12">
                <div class=" col-md-offset-1 col-md-2"><label>Guidestar:</label></div>
                <div class="col-md-8"><input class="form-control" name="Guidestar" type="text" size="100" value="@Guidestar" /></div>
            </div>
            <div class="col-md-12">
                <div class=" col-md-offset-1 col-md-2"><label>Twitter:</label></div>
                <div class="col-md-8"><input class="form-control" name="Twitter" type="text" size="100" value="@Twitter" /></div>
            </div>
            <div class="col-md-12">
                <div class=" col-md-offset-1 col-md-2"><label>Services Offered:</label></div>
                <div class="col-md-8"><input class="form-control" name="Services" type="text" size="100" value="@Services" /></div>
            </div>
            <div class="col-md-12">
                <div class=" col-md-offset-1 col-md-2"><label>Type of Organization:</label></div>
                <div class="col-md-8"><input class="form-control" name="Type" type="text" size="100" value="@Type" /></div>
            </div>
            <div class="col-md-offset-3 col-md-12">
                <label>&nbsp;</label>
                <input type="submit" value="Submit" class="submit btn btn-success" />
            </div>
            
       </div>
</fieldset>
</form>


<script>
    function addService() {
        var item = $("#service").val();
        $("#serviceList").append('<li class="list-group-item">' + item + '<a href="#" type="button" onclick="Delete(this);" class="btn btn-default" style="float: right; padding-top:2px; padding-bottom: 0px; font-size: 12px; "><span class="glyphicon glyphicon-trash"></span></a></li>');
        $("#service").val("");


    }
    $(document).ready(function () {

    });
    function Delete(currentEl) {
        currentEl.parentNode.parentNode.removeChild(currentEl.parentNode);
    }


</script>

