@using WebMatrix.Data;
@{
    ViewBag.Title = "GEN Provider Directory";
    Layout = "~/Views/Shared_Directory/_Layout.cshtml";
}

@{
    var db = Database.Open("gen-provider-dbConnectionString");
    var OrgID = Request.QueryString["param1"];
    var Comment = Request.Form["Comment"];
    var Name = Request.Form["Name"];
    var Verified = Request.Form["Verified"];
    if (OrgID.IsEmpty())
    {
        Response.Redirect("~/Directory/List");
    }
    
    var positiveReviews = db.QuerySingle("SELECT COUNT(*) AS PosRev FROM Comment_Table WHERE Verified = 'true' and OrgID='" + OrgID + "'");
    var posRev = db.QueryValue("select count(*) from Comment_Table where Verified = 'true' and OrgID='"+OrgID+"'");
    var allRev = db.QueryValue("select count(*) from Comment_Table where OrgID='"+OrgID+"'");

    var num = Convert.ToDecimal(posRev);
    var den = Convert.ToDecimal(allRev);
    var rating = 0;
    if (Convert.ToInt16(den) != 0) {
        rating = Convert.ToInt16((num / den) * 100);
    }

    var styleRating = (rating >= 75) ? "color: green" : "color: #c12e2a";
    if(allRev == 0)
    {
        styleRating = "color: #778899";
    }


    var orgName = db.QueryValue("SELECT Organization FROM Main_Database_For_Directory WHERE OrgID ='" + OrgID +"'");
    if (IsPost && OrgID != null)
    {
        try {

            var insertQuery = "INSERT INTO Comment_Table (OrgID, CommentsAboutOrganization, OrgName, Verified) " +
                "VALUES (@0, @1, @2, @3)";
            db.Execute(insertQuery, OrgID, Comment, Name, Verified);

            Response.Redirect("~/Directory/List");

        }
        catch (Exception ex)
        {
            Response.Write("<script>alert('Something went wrong.\\nSome fields may be filled in incorrectly.')</script>");
        }

    }
}

<!DOCTYPE html>
<html>
<head>
    
    <title>Comments</title>
</head>
<body>
    @Html.ValidationSummary("Errors with your submission:")
   
    <div style="padding-left:5px; border:3px double black; margin-bottom: 10px; background-color: #fafafa ">
        <h4>Comments: <u>@orgName</u></h4>
    </div>
    <div>
        <p style="font-size: 16px"><b>Rating:  <u style="@styleRating"><span> @rating%</span></u></b></p>
    </div>
    
    <div>
        <ul class="list-group" id="listOfComments" style="overflow: scroll; max-height: 250px; width: 100%;">
            @foreach (var row1 in db.Query("Select * FROM Comment_Table WHERE OrgID='" + OrgID + "'"))
            {
                if (row1.Verified == null)
                {
                    <li class='list-group-item list-group-item-default'><p><b style="font-size: 20px">"</b> @row1.CommentsAboutOrganization <b style="font-size: 20px">"</b></p><small><span class="fa fa-user"></span> @row1.OrgName</small></li>
                }
                else if (row1.Verified == true)
                {
                    <li class='list-group-item list-group-item-success'><p><b style="font-size: 20px">"</b> @row1.CommentsAboutOrganization <b style="font-size: 20px">"</b></p><small><span class="fa fa-user"></span> @row1.OrgName</small></li>
                }
                else if (row1.Verified == false)
                {
                    <li class='list-group-item list-group-item-danger'><p><b style="font-size: 20px">"</b> @row1.CommentsAboutOrganization <b style="font-size: 20px">"</b></p><small><span class="fa fa-user"></span> @row1.OrgName</small></li>
                }

            }
        </ul>
        <hr />
        <form method="post" action="">
            <fieldset>
                <div style="background-color: #eeeeee; padding: 7px;">
                    <h4>Add a Comment:</h4>
                    <textarea class="form-control" rows="2" name="Comment" value="@Comment"></textarea>

                    <label for="commentName" style="padding-top:4px">Your Organization Name:</label>
                    <input class="form-control" name="Name" value="@Name">
                    <label style="padding-top:4px">Rate: </label>
                    <br />

                    <button class="btn btn-default" id="likeBtn" onclick="chooseRating(1)"><b><span class="fa fa-thumbs-up"></span></b></button>
                    <button class="btn btn-default" id="dislikeBtn" onclick="chooseRating(0)"><b><span class="fa fa-thumbs-down"></span></b></button>
                    <input id="Verified" name="Verified" style="display: none" value="@Verified" />
                    <br />
                    
                </div>
                </fieldset>
            </form>
    </div>

</body>
</html>
<script>
    
    function chooseRating(rating) {

        if (rating == 1) {
            $("#likeBtn").css({ "color": "white", "background-color": "#419641" });
            $("#dislikeBtn").css({ "color": "black", "background-color": "white" });
            $("#Verified").val('true');
        }
        else if (rating == 0) {
            $("#dislikeBtn").css({ "color": "white", "background-color": "#c12e2a" });
            $("#likeBtn").css({ "color": "black", "background-color": "white" });
            $("#Verified").val('false');
        }
        else if (rating == 2) {
            $("#dislikeBtn").css({ "color": "black", "background-color": "white" });
            $("#likeBtn").css({ "color": "black", "background-color": "white" });
        }
    }
</script>
