@using WebMatrix.Data;

@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@{
    var db = Database.Open("gen-provider-dbConnectionString");
    var OrgID = Request.QueryString["param1"];

    if (OrgID.IsEmpty())
    {
        Response.Redirect("~/List/List");
    }
    

}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title></title>
</head>
<body>
    <br/>
    <br/>
    <br/>
    <br/>
        <div>
            
            <table id="myTable" class="table table-responsive table-striped table-hover table-bordered" data-show-refresh="true" data-toggle="table" data-search="true" data-pagination="true" data-filter-control="true" data-sort-order="desc">
                <thead>
                    <tr>
                       
                        <th>Organization</th>
                        <th><i class="fa fa-facebook-official" style="font-size:30px"></i></th>
                        <th><i class="fa fa-google" style="font-size:30px"></i></th>
                        <th><i class="fa fa-youtube-square" style="font-size:30px"></i></th>
                        <th><i class="fa fa-instagram" style="font-size:30px"></i></th>
                        <th><i class="fa fa-pinterest-square" style="font-size:30px"></i></th>
                        <th><i class="fa fa-linkedin-square" style="font-size:30px"></i></th>
                        <th><i class="fa fa-vimeo-square" style="font-size:30px"></i></th>
                        <th><i class="fa fa-twitter-square" style="font-size:30px"></i></th>
                        <th>Charity Navigator</th>
                        <th>GuideStar</th>
                        
                    </tr>
                    
                </thead>
                <tbody>
                    @foreach (var row in db.Query("Select * FROM Main_Database_For_Directory WHERE OrgID='" + OrgID + "'"))
                    {

                        <tr>

                            <td>@row.Organization</td>
                            <td><a href="@row.Facebook" target="_blank" data-toggle="tooltip" title="@row.Facebook">Facebook</a></td>
                            <td><a href="@row.Google" target="_blank" data-toggle="tooltip" title="@row.Google">Google</a></td>
                            <td><a href="@row.Youtube" target="_blank" data-toggle="tooltip" title="@row.Youtube">Youtube</a></td>
                            <td><a href="@row.Instagram" target="_blank" data-toggle="tooltip" title="@row.Instagram">Instagram</a></td>
                            <td><a href="@row.Pinterest" target="_blank" data-toggle="tooltip" title="@row.Pinterest">Pinterest</a></td>
                            <td><a href="@row.Linkedin" target="_blank" data-toggle="tooltip" title="@row.Linkedin">Linkedin</a></td>
                            <td><a href="@row.Vimeo" target="_blank" data-toggle="tooltip" title="@row.Vimeo">Vimeo</a></td>
                            <td><a href="@row.Twitter" target="_blank" data-toggle="tooltip" title="@row.Twitter">Twitter</a></td>
                            <td><a href="@row.CharityNavigator" target="_blank" data-toggle="tooltip" title="@row.CharityNavigator">Charity Navigator</a></td>
                            <td><a href="@row.Guidestar" target="_blank" data-toggle="tooltip" title="@row.Guidestar">Guidestar</a></td>

                        </tr>
                    }


                </tbody>

            </table>
        </div>
    
  
</body>
</html>
<script>
    
    jQuery(document).ready(function ($) {

        $('[data-toggle="tooltip"]').tooltip(); 

        $('a[href=""]').click(function (e) {

            e.preventDefault();

        });

    });
</script>
