<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>GEN Provider Directory</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link rel="stylesheet" href="/resources/demos/style.css">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>

<body style="padding-top: 70px;">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				<a href="@Url.Action("Index", "Home")" ><span class="glyphicon glyphicon-globe" style="color: LightGray; padding: 4px; font-size: 40px; float: left;"></span></a>              
				@Html.ActionLink("Provider Directory", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
				
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
					<li>@Html.ActionLink("Map", "Map", "Map")</li>
                    <li>@Html.ActionLink("Search", "List", "List")</li>
                    <li>@Html.ActionLink("Add Provider", "Add", "Add")</li>
                    <li>@Html.ActionLink("Admin", "Admin", "Admin")</li>
                    
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>

    <script src="/js/jquery-3.0.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
