@using System;
@using System.Data;
@using System.Configuration;
@using System.Data.SqlClient;
@using WebMatrix.Data;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var db = Database.Open("gen-provider-dbConnectionString");
    var queryString = "SELECT * FROM Main_Database_For_Directory where ApprovedForDirectory='false' or ApprovedForDirectory is null";
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <div class="jumbotron">
        <h2>Approve/Delete</h2>
        <p class="lead">Approve or delete organizations.</p>
    </div>

    <div class="panel panel-success">
        <!-- Default panel contents -->
        <div class="panel-heading" id="title"></div>


        <div style="overflow: scroll; max-height: 400px;">
            <!-- Table -->
            <table id="myTable" class="table table-striped table-hover table-bordered" data-show-refresh="true" data-toggle="table" data-search="true" data-pagination="true" data-filter-control="true" data-sort-order="desc">
                <thead>
                    <tr>
                        <th>Approve</th>
                        <th>Delete</th>
                        <th>Organization</th>
                        <th>Address</th>
                        <th>County</th>
                        <th>Country</th>
                        <th>Postal Code</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Services</th>
                        <th>Authority</th>
                    </tr>
                    
                </thead>
                <tbody>
                    @foreach (var row in db.Query(queryString))
                    {
                        <tr>

                            <td><a href="@Href("~/ApproveAdmin/ApproveAdmin?param1="+ row.Organization)" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a></td>
                            <td><a href="@Href("~/DeleteAdmin/DeleteAdmin?param1="+ row.Organization)" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a></td>

                            <td>@row.Organization</td>
                            <td>@row.StreetAddress</td>
                            <td>@row.County</td>
                            <td>@row.Country</td>
                            <td>@row.PostalCode</td>
                            <td>@row.PhoneNumber</td>
                            <td>@row.Email</td>
                            <td>@row.ServicesOffered</td>
                            <td>@row.TypeOfOrganization</td>

                        </tr>
                    }


                </tbody>

            </table>
        </div>
        </div>
</body>
</html>
<script>
    $(document).ready(function () {


        updateBadge();


    });
    function updateBadge() {

        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        var i = tr.length - 1;
        $("#title").html('<span>Directory of Providers </span><span class="badge"> ' + i + '</span>');


        $("#commentTitle").html('<span>Comment </span><span style="float: right; font-size: 14px"> Verified by: <span class="badge">85%</span></span>');

    }
    function addOrg(org) {
        alert("add " + org);
    }
    function deleteOrg(org) {
        alert("delete " + org);
    }
</script>
